$backBtn:#0070f3;


.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
  }
  

  a.backToHome {
      margin: 1em 0;
      border-radius: 2px;
      padding: 0.5em;
      background: $backBtn;
      color: white;
      font-weight: 600;
      text-decoration: none;

        &:hover{
          background: white;
          color:$backBtn;
        }
      }



  
  